:host .sidenav-container {
  height: 100%;
}

:host .sidenav {
  width: 300px;
}

:host .sidenav .mat-toolbar {
  background: inherit;
}

:host .mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

:host #title {
  margin-left: 50px;
}

:host #sidenav-link-name {
  margin-left: 20px;
}