<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
        <div *ngFor="let item of app.sidenavLinks"
            fxLayout="row">
          <a mat-list-item href="#">
            <img src="../../../assets/icons/material/remove_red_eye-black-24dp.svg">
            <span id="sidenav-link-name">{{ item }}</span>
          </a>
        </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <img src="../../../assets/icons/material/menu-white-24dp.svg">
      </button>
      <span id="title">{{ app.title }}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
